<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.example.core.TestListener"/>
    </listeners>
    <test verbose="2" name="C:/Users/Shushanik_Tonoyan/IdeaProjects/untitled">
        <classes>
            <class name="tests.testngtest.FirstTest"/>
            <class name="tests.testngtest.LoginTestNgTest"/>
            <class name="tests.testngtest.apitests.DashboardTest"/>
            <class name="tests.testngtest.apitests.LaunchesTest"/>
<!--            <class name="tests.testngtest.FirstTest"/>-->
            <class name="tests.testngtest.uitests.LoginTest"/>

        </classes>

    </test>
</suite>